.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.7;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header .header__title {
    font-size: 24px;
    font-weight: 600;


}

.header .header__icons {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;


}

.header .header__header-column {
    display: flex;
    align-items: center;
}

.header .header__back-btn {
    display: flex;
    font-size: 24px;
    margin-right: 18px;   
}

